astroid==3.2.4
autopep8==2.3.1
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
filelock==3.15.4
flake8==7.1.1
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.2
pycodestyle==2.12.1
pyflakes==3.2.0
pylint==3.2.6
tomlkit==0.13.0
virtualenv==20.26.3
